.craftT-container {
    color: rgb(232, 216, 216);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vh;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 1vh;
    box-sizing: border-box;
    border-radius: 1vh;
}

.craft-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.desc-info {
    padding-left: 2vh;
    padding-right: 2vh;
    text-align: center;
    color: rgb(155, 155, 155);
}

.craft-req {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.materials-container {
    margin-top: 3vh;
    box-sizing: border-box;
    display: flex;
    width: 80%;
    gap: 1vh;
    justify-content: center;
}

.img-box {
    background-color: rgba(0, 0, 0, 0.849);
    height: 12vh;
    aspect-ratio: 1 / 1;
}

.material-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.btn-start {
    width: 15vh;
    height: 5vh;
    background-color: rgba(90, 90, 90, 0.938);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    margin-bottom: 15%;
    cursor: pointer;
    user-select: none;
}

.btn-start:hover {
    background-color: rgba(0, 0, 0, 0.849);
}

.btn-start:active {
    background-color: rgba(90, 90, 90, 0.938);
}