.receptTitle-container {
    color: rgb(232, 216, 216);
    display: flex;
    font-size: 2vh;
    width: 100%;
    justify-content: start;
    padding: 1vh;
    box-sizing: border-box;
    border-left: 1px solid rgb(255, 255, 255);
    border-radius: 1vh;
    cursor: pointer;
    user-select: none;
}

.receptTitle-container:hover {
    border-left: 1px solid rgb(120, 118, 118);
    background-color: black;
}

.receptTitle-container_active {
    border-left: 1px solid rgb(120, 118, 118);
    background-color: black;
}