.craft-container {
  position: absolute;
  width: 110vh;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(34, 34, 34, 0.788);
  display: grid;
  grid-template-columns: 2fr 5fr;
  overflow: hidden;
  border-radius: 2vh;
}

.left-container {
  display: flex;
  background-color: rgba(34, 34, 34, 0.801);
  flex-direction: column;
}

.right-container {
  display: flex;
  background-color: rgba(34, 34, 34, 0.596);
}

.craft-title {
  color: rgb(232, 216, 216);
  display: flex;
  font-size: 3vh;
  width: 100%;
  justify-content: center;
  padding: 1vh;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(210, 201, 201);
}

.recepts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 1vh;
  overflow-y: scroll;
  gap: 1vh;
  height: 100%;
}

::-webkit-scrollbar {
  width: 12px;
  /* ширина скроллбара */
  background-color: #121212;
  /* темный фон дорожки */
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
  /* фон дорожки внутри скроллбара */
  border-radius: 10px;
  box-shadow: inset 0 0 5px #000000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4a4a4a, #222222);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, rgb(239, 157, 6), 107, 107), 107, 107), 107, 107), 107, 107), #333333);
}